body{
    background-color: hsl(0, 0%, 98%);
    display: flex;
    flex-direction: column;
    justify-content: center; 
     align-items: center;
    height: 100vh;
}
.muted{
    color: hsl(229, 6%, 66%);
}

.card-outer-container{
    display: flex;
    
}


.card {
  width: 300px; /* Set the width of the card */
  padding: 20px; /* Add padding for spacing inside the card */
  border: 1px solid #ccc; /* Add a border to the card */
  border-radius: 8px; /* Add rounded corners to the card */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a box shadow */
  background-color: #fff; /* Set the background color */
}
.card > p{
    color: hsl(229, 6%, 66%);
}
.card >.image-holder{
    display: flex;
    justify-content: flex-end;

}
.card-inner-container-1,.card-inner-container-3{
    display:flex;
    align-items:center;
    justify-content: center;
    margin-right: 18px;
}
.card-inner-container-3{
    margin-left: 18px;
}
.card-inner-container-2{
    display: flex;
    flex-direction: column;
    gap: 20px; /* Set the gap or spacing between flex items */
}
.supervisor-card{
    border-top: solid 10px hsl(180, 62%, 55%);
}
.team-card{
    border-top: solid 10px hsl(0, 78%, 62%);
}
.karma-card{
    border-top: solid 10px hsl(34, 97%, 64%);
}
.calculator-card{
   border-top: solid 10px hsl(212, 86%, 64%)
}